<body>
    <h1>{{{title}}}</h1>
    <ul>
        <li>{{username}}</li>
        <li>{{firstname}}</li>
        <li>{{lastname}}</li>
        <li>{{profession}}</li>
        <li>{{bio}}</li>
    </ul>
    <a href="/logout">Logout</a>  
</body>